@font-face {
    font-family: 'Nightmare';
    src: url('/assets/fonts/zreaks nfi.ttf') format('truetype');
}
@font-face {
    font-family: 'Charming';
    src: url('/assets/fonts/Achafont.ttf') format('truetype');
}
@font-face {
    font-family: 'Die';
    src: url('/assets/fonts/DIEDIEDI.ttf') format('truetype');
}

html {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

body {
    font-family: 'Arial', sans-serif;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    position: relative;
    overflow: hidden;
}

body::after {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(255, 134, 34);
    z-index: -1;
    animation: 20s ease-out 0s infinite forwards verticalFog;
}

header,
footer {
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
    font-weight: bold;
    display: block;
    position: fixed;
    z-index: 2;
}

header {
    color: white;
    top: 0;
    max-height:fit-content;
}

footer {
    font-family: 'Charming', Courier, monospace;
    font-size: 2em;
    position: fixed;
    bottom: 0;
    width: 100%;
}

main 
{
    margin-top: 100px;
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

a {
    font-weight: bold;
    color: inherit; 
    text-decoration: none;
}

a:hover {
    color:#f00;
}

h1 {
    font-family: 'Nightmare', 'Arial', sans-serif;
    text-align: center;
    font-weight: bold;
    font-size: 5vh;
}

h1::after {
    box-shadow: 0 0 10px 10px #fff;
}

 h2 {
    font-family: 'Nightmare', 'Arial', sans-serif;
    text-align: center;
    font-weight: bold;
    font-size: 2em;
}

section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 150px;
}

.day {
    width: 20vw;
    height: 20vh;
    border: 1px solid #ccc;
    background-color: aliceblue;
    margin: 5px;
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: hidden;
    font-family: 'Die', 'Arial', sans-serif;
}

.day::before {
    content: "";
    position: absolute;
    top: -10px;
    left: -10px;
    right: -10px;
    bottom: -10px;
    border: 10px solid rgba(0, 0, 0, 0.1);
    z-index: -1;
}

.day-number {
    font-size: 1.6em;
    font-weight: bold;
    text-align: center;
    margin: 0;
}

.done{
    text-decoration:double line-through;
    text-decoration-color: red;
}

.art {
    flex-grow: 1;
    background-color: #fff;
}

[class*="spider"] {
    position: absolute;
    height: 40px;
    width: 50px;
    border-radius: 50%;
    margin: 40px 0 0 0;
    background: #110D04;

    *,
    &:before,
    &:after,
    :after,
    :before {
        position: absolute;
        content: "";
    }

    &:before {
        width: 1px;
        background: #AAAAAA;
        left: 50%;
        top: -820px;
        height: 820px;
    }

    .eye {
        top: 16px;
        height: 14px;
        width: 12px;
        background: #FFFFFF;
        border-radius: 50%;

        &:after {
            top: 6px;
            height: 5px;
            width: 5px;
            border-radius: 50%;
            background: black;
        }

        &.left {
            left: 14px;

            &:after {
                right: 3px;
            }
        }

        &.right {
            right: 14px;

            &:after {
                left: 3px;
            }
        }
    }

    .leg {
        top: 6px;
        height: 12px;
        width: 14px;
        border-top: 2px solid #110D04;
        border-left: 1px solid transparent;
        border-right: 1px solid transparent;
        border-bottom: 1px solid transparent;
        z-index: 0;

        &.left {
            left: -8px;
            transform-origin: top right;
            transform: rotate(36deg) skewX(-20deg);
            border-left: 2px solid #110D04;
            border-radius: 60% 0 0 0;
            animation: legs-wriggle-left 1s 0s infinite;
        }

        &.right {
            right: -8px;
            transform-origin: top left;
            transform: rotate(-36deg) skewX(20deg);
            border-right: 2px solid #110D04;
            border-radius: 0 60% 0 0;
            animation: legs-wriggle-right 1s 0.2s infinite;
        }

        &:nth-of-type(2) {
            top: 14px;
            left: -11px;
            animation: legs-wriggle-left 1s 0.8s infinite;
        }

        &:nth-of-type(3) {
            top: 22px;
            left: -12px;
            animation: legs-wriggle-left 1s 0.2s infinite;
        }

        &:nth-of-type(4) {
            top: 31px;
            left: -10px;
            animation: legs-wriggle-left 1s 0.4s infinite;
        }

        &:nth-of-type(6) {
            top: 14px;
            right: -11px;
            animation: legs-wriggle-right 1s 0.4s infinite;
        }

        &:nth-of-type(7) {
            top: 22px;
            right: -12px;
            animation: legs-wriggle-right 1s 0.7s infinite;
        }

        &:nth-of-type(8) {
            top: 31px;
            right: -10px;
            animation: legs-wriggle-right 1s 0.3s infinite;
        }
    }
}

.spider_0 {
    left: 5%;
    animation: spider-move-0 5s infinite;
}

.spider_1 {
    left: 20%;
    animation: spider-move-1 5s infinite;
}

.spider_2 {
    left: 35%;
    animation: spider-move-2 5s infinite;
}

.spider_3 {
    right: 35%;
    margin-top: 160px;
    animation: spider-move-3 5s infinite;
}

.spider_4 {
    right: 20%;
    margin-top: 50px;
    animation: spider-move-4 5s infinite;
}

.spider_5 {
    right: 5%;
    margin-top: 210px;
    animation: spider-move-5 5s infinite;
}

h1 {
    left: 6%;
    bottom: 12%;
    font-size: 8.5vw;
    color: #111111;
    animation: flicker 4s 0s infinite;
}

.web-right {
    position: absolute;
    height: 600px;
    width: auto;
    right: -10px;
    top: -10px;
    z-index: -1;
    opacity: 0.2;
}

.web-left {
    position: absolute;
    left: -10px;
    top: -10px;
    height: 600px;
    transform: rotate(-90deg);
    z-index: -1;
    opacity: 0.2;
}

@keyframes flicker {

    0%,
    6%,
    12% {
        text-shadow: none;
        color: #111111;
    }

    3%,
    9% {
        text-shadow: 0 0 8px rgba(#fa6701, 0.6);
        color: #fa6701;
    }

    60% {
        text-shadow: 0 0 8px rgba(#fa6701, 0.6),
            0 0 16px rgba(#fa6701, 0.4),
            0 0 20px rgba(255, 0, 84, 0.2),
            0 0 22px rgba(255, 0, 84, 0.1);
        color: #fa6701;
    }

    100% {
        text-shadow: 0 0 8px rgba(#fa6701, 0.6),
            0 0 16px rgba(#fa6701, 0.4),
            0 0 20px rgba(255, 0, 84, 0.2),
            0 0 22px rgba(255, 0, 84, 0.1);
        color: #fa6701;
    }
}

@keyframes legs-wriggle-left {

    0%,
    100% {
        transform: rotate(36deg) skewX(-20deg);
    }

    25%,
    75% {
        transform: rotate(15deg) skewX(-20deg);
    }

    50% {
        transform: rotate(45deg) skewX(-20deg);
    }
}

@keyframes legs-wriggle-right {

    0%,
    100% {
        transform: rotate(-36deg) skewX(20deg);
    }

    25%,
    75% {
        transform: rotate(-15deg) skewX(20deg);
    }

    50% {
        transform: rotate(-45deg) skewX(20deg);
    }
}

/* Animation values were replicated for keyframes in pure CSS */

@keyframes spider-move-0 {

    0%,
    100% {
        margin-top: 40px;
    }

    50% {
        margin-top: calc(620px + 150px);
    }
}

@keyframes spider-move-1 {

    0%,
    100% {
        margin-top: 90px;
    }

    40% {
        margin-top: calc(90px + 70px);
    }
}

@keyframes spider-move-2 {

    0%,
    100% {
        margin-top: 160px;
    }

    60% {
        margin-top: calc(160px + 120px);
    }
}

@keyframes spider-move-3 {

    0%,
    100% {
        margin-top: 160px;
    }

    30% {
        margin-top: calc(160px + 120px);
    }
}

@keyframes spider-move-4 {

    0%,
    100% {
        margin-top: 70px;
    }

    70% {
        margin-top: calc(70px + 90px);
    }
}

@keyframes spider-move-5 {

    0%,
    100% {
        margin-top: 120px;
    }

    50% {
        margin-top: calc(120px + 100px);
    }
}
